@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #1f2937;
  }
}
